/*--- SVG GENERIC STYLE ---*/

#svg-div {
    height: 510px;
    width: 97%;
    border: solid;
    border-radius: 20px;
    overflow: hidden;
    margin: 2px;
}

#svgelem {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.text-link { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100; 
    font-size: 12px;
    fill: rgb(112,0,0);
}

/*--- SVG ELEMENTS STYLE ---*/

image {
    cursor: pointer;
}

.link {
    stroke: rgb(255,0,0);
    stroke-width: 2;
    cursor: pointer;
}

.link-rect {
    cursor: pointer;
    /*fill: rgb(224, 72, 72);*/
    fill: lightblue;
}

.click-path {
    cursor: pointer;
}

svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
svg text::selection {
    background: none;
}

/*--- ZOOM BUTTONS ---*/

#zoomp {
    position: absolute;
    top: 90%;
    left: 88%;
    cursor: pointer;
}

#zoom- {
    position: absolute;
    top: 90%;
    left: 94%;
    cursor: pointer;
}

#zoom0 {
    position: absolute;
    top: 90%;
    left: 91%;
    cursor: pointer;
}