version: '3.7'

services:
  backend:
    build: ./EdgeUsher-backend
    env_file:
      - ./conf.env
    ports: 
      - "5000:5000"
  frontend:
    build: ./EdgeUsher-frontend
    ports:
      - "8080:8080"
    depends_on:
      - backend
    env_file:
      - ./conf.env
    command: /bin/sh -c "envsubst '$${SERVER_URL},$${SERVER_PORT}' < /usr/share/nginx/html/assets/config.template.json > /usr/share/nginx/html/assets/config.json && exec nginx -g 'daemon off;'" 
