<div id="header-infrastructure">
    <div id="logo-infrastructure-div">
        <img 
        id="logo" 
        src="https://raw.githubusercontent.com/di-unipi-socc/EdgeUsher/master/img/edgeusherlogo.png" 
        alt="EdgeUsher" 
        width="30" 
        routerLink=""
        (click)="onLogoClick()"
        >
    </div>
    <input id="infrastructure-name" autocomplete="off" value="Untitled chain" type="text" [(ngModel)]="this.title" (ngModelChange)="onChangeTitle($event)"/> 
    <div id="header-infrastructure-actions">
        <input id="settings-infrastructure-button" title="Actions" type="image" src="../../icons/settings.png" [matMenuTriggerFor]="settingsmenu"/> 
        <mat-menu #settingsmenu="matMenu">
            <div id='settings-menu-infrastructure-content'>
                <button mat-menu-item id="reset-infrastructure" (click)="new()">Reset infrastructure</button>
                <button mat-menu-item id="save-infrastructure" (click)="save()">Download infrastructure file</button>
                <button mat-menu-item id="download-json-infrastructure" (click)="saveJson()">Download infrastructure project</button>

                <div class="upload-btn-wrapper">
                    <button mat-menu-item>Upload infrastructure</button>
                    <input type="file" ng2FileSelect (change)="upload2($event)" name="myfile" />
                </div>
            </div>
        </mat-menu>
        <input id="img-exe-from-infrastructure" title="Run EdgeUsher" type="image" src="../../icons/play.png" (click)="exe()"/>
        <input id="tutorial-button-infrastructure" title="Tutorial" (click)=tutorial() type="image" src="../../icons/tutorial.png"/>
    </div>
</div>

