mat-checkbox {
    font-size: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

mat-expansion-panel {
    /*background-color: lightgray;*/
    background-color: lightblue;
    align-items: left;
    text-align: left;
    margin-left: 0%;
    margin-top: 2px;
}

input {
    outline: none;
}

/*--- GENERAL DIALOG STYLE ---*/

button {
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 150%;
    text-align: center;
    align-content: center;
    align-items: center;
    padding: 0px;
    font-size: 70%;
    min-width: 0px;
    border: solid;
    border-radius: 8px;
    border-color: rgb(33, 117, 173);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}



#function-menu {
    display: grid;
    grid-template-rows: 20px 20px 175px 20px;
}

#err {
    grid-row: 2;
    font-size: 50%;
    color: red;
    margin: 0 0;
}

label {
    line-height: 1.7;    
}

select {
    font-size: 100%;
}

ul {
    margin: 0px;
}

input {
    font-size: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightcyan;
}

#service-dialog-content {
    grid-row: 3;
    font-size: 70%;
    height: 100%;
}

/*--- TITLE STYLE ---*/

#function-name-menu {
    width: 80%;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: text;
    border: none;
    border-radius: 0px;
    background-color: lightskyblue;
    background-image: linear-gradient(to right, rgb(33, 117, 173), rgb(33, 117, 173));
    background-position: 1px calc(100% - 1px);
    background-size: calc(100% - 10px) 2px;
    background-repeat: no-repeat;
    font-size: 100%;
}

#title {
    grid-row: 1;
    display: grid;
    grid-template-columns: auto;
    padding: 0%;
    font-weight: 500;
}

#p-title {
    grid-row: 1;
    grid-column-start: 1;
    margin: 0 0;
}

/*--- DIALOG BUTTONS STYLE ---*/

div#actions {
    grid-row: 4;
    width: 100%;
    padding-top: 3px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    height: 100%;
}

#close {
    grid-row: 1;
    grid-column-start: 2;
    height: 16px;
    line-height: none !important;
    width: 15px;
    height: 15px;
    justify-self: right;
    line-height: 100%;
    cursor: pointer;
    background-color: lightskyblue;
    box-shadow: none;
}

#save {
    grid-column-start: 3;
}

#delete {
    grid-column-start: 1;
}

#move {
    grid-column-start: 2;
}

/*--- SECURITY REQUIREMENTS STYLE ---*/

.cond {
    margin: 2px;
    height: 15px;
    background-color: orange;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 100%;
    text-align: center;
    align-content: center;
    align-items: center;
    padding: 1px;
    font-size: 100%;
    min-width: 0px;
    border: 1px solid;
    border-radius: 4px;
    border-color: rgb(33, 117, 173);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

.add {
    margin: 2px;
    height: 15px;
    background-color: rgb(63, 226, 63);
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 100%;
    text-align: center;
    align-content: center;
    align-items: center;
    padding: 1px;
    font-size: 100%;
    min-width: 0px;
    border: 1px solid;
    border-radius: 4px;
    border-color: rgb(33, 117, 173);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

#save-req {
    margin: 2px;
    height: 15px;
    background-color: rgb(63, 226, 63);
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 100%;
    text-align: center;
    align-content: center;
    align-items: center;
    padding: 1px;
    font-size: 100%;
    min-width: 0px;
    border: 1px solid;
    border-radius: 4px;
    border-color: rgb(33, 117, 173);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

.delete {
    margin: 2px;
    height: 15px;
    background-color: rgb(224, 72, 72);
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 100%;
    text-align: center;
    align-content: center;
    align-items: center;
    padding: 1px;
    font-size: 100%;
    min-width: 0px;
    border: 1px solid;
    border-radius: 4px;
    border-color: rgb(33, 117, 173);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

#security {
    list-style-type: none;
    overflow: auto;
}

#first-nest {
    padding-left: 15px;
}

#second-nest {
    padding-left: 30px;
}

#third-nest {
    padding-left: 45px;
}

.help {
    margin: 0 0;
    font-size: 80%;
}

/*--- IOT REQUIREMENTS STYLE ---*/

#iot-reqs-div input {
    font-size: 100%;
}

#iot-reqs-div {
    border-radius: 4px;
    border: 2px solid grey;
}

.iot-result-menu {
    color: green;
}

/*--- OTHER REQUIREMENTS STYLE ---*/

#hardware-requirements-input {
    width: 16%;
}

#service-time-input {
    width: 16%;
}

#iot-requirements-input {
    width: 95%;
}