<div id="working-page">
    <app-svg-infrastructure id="svg"
    (onChangeTitleFromUpload)="changeTitleFromUpload($event)"
    ></app-svg-infrastructure>
    <app-header-infrastructure id ="header"
    (reset)="new()"
    (saveInfrastructure)="save()"
    (uploadInfrastructureFile)="uploadInfrastructure($event)"
    (changeTitle)="onChangeTitle($event)"
    (codeClick)="onCodeClick($event)"
    (probClick)="setProbabilisticMode($event)"
    (onChainClick)="onChainClick()"
    (logoClick)="onLogoClick()"
    (exeEU)="openExecutionDialog()"
    (saveJSON)="saveJson()"
    [title]="this.title"
    (tutorialClick)="this.openTutorialDialog()"
    ></app-header-infrastructure>
    <app-chain-code id="code"
    ></app-chain-code>
    <app-split-screen id="split-screen"></app-split-screen>
    <div id='radio-button-infrastructure'>
        <div id="subdiv-radio-button-infrastructure">
            <input id="left-radio-button-infr" (click)="onCodeClick(1)" type="radio" name="radios"value="false">
            <label for="left-radio-button-infr">Source code</label>
            <input id="center-radio-button" (click)="onCodeClick(3)" type="radio" name="radios"value="all">
            <label for="center-radio-button">Split screen</label>
            <input id="right-radio-button-infr" (click)="onCodeClick(2)" type="radio" name="radios" value="all" checked>
            <label for="right-radio-button-infr">Graphic editor</label>
        </div>
    </div>
</div>