#working-page {
    display: grid;
    overflow: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header-infrastructure {
    grid-row-start: 1;
}

#svg-div {
    grid-row-start: 2;
}

#code {
    display: none;
}

#split-screen {
    display: none;
}

/*--- CHAIN NAVIGATION ---*/

#infrastructure-navigation {
    text-align: center;
    grid-row: 3;
}

#infrastructure-src-code {
    /*border-radius: 8px;
    background-color: lightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid;
    border-color: rgb(33, 117, 173);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;*/
}

#infrastructure-editor {
    /*border-radius: 8px;
    background-color: lightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid;
    border-color: rgb(33, 117, 173);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;*/
}

/*---Radio button style ---*/
/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input[type=radio] {
    display:none; 
    margin:10px;
  }
  
  
  /*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
  */
  input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    /*background-color: #e7e7e7;
    border-color: #ddd;*/
    background-color: skyblue;
    line-height: 30%;
    cursor: pointer;
    font-size: 80%;
  }
  
  #right-radio-button-infr + label {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 2px solid rgb(33, 117, 173);
    border-left-color: skyblue;
  }

  #center-radio-button + label {
    border-top: 2px solid rgb(33, 117, 173);
    border-bottom: 2px solid rgb(33, 117, 173);
    border-right-color: skyblue;
  }
  
  #left-radio-button-infr + label {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 2px solid rgb(33, 117, 173);
    border-right-color: skyblue;
  }
  /*
  Change background color for label next to checked radio button
  to make it look like highlighted button
  */
  input[type=radio]:checked + label { 
    background-image: none;
    /*background-color:#d0d0d0;*/
    background-color: rgb(33, 117, 173);
  }
  
  #radio-button-infrastructure {
    /*top: 90%;
    left: 50%;
    position: fixed;*/
    text-align: center;
  }
  
  /*#subdiv-radio-button-infrastructure {
    position: relative;
    left: -50%;
  }*/