<div id="start-grid">
    <div id="logo">
        <img src="https://raw.githubusercontent.com/di-unipi-socc/EdgeUsher/master/img/edgeusherlogo.png" alt="EdgeUsher" width="180">
    </div>
    <br>
    <hr id="line">
    <br>
    <p id="description">
        A tool for the placing of the <br>
        Virtual Network Functions <br>
        with a probabilistic algorithm<br><br>
    </p>
    <div id ="buttons">
        <button id="start-chain-button" routerLink="/chain">Create a chain</button>
        <br>
        <button id="start-infrastructure-button" routerLink="/infrastructure">Create an infrastructure</button>
    </div>
    <div id="tutorial">
        <svg id="svg-start-elem" xlmns:xhtml="http://www.w3.org/1999/xhtml">
            <circle 
            cx="80" cy="300" r="70"
            stroke="blue"
            stroke-widht="5"
            fill="skyblue"
            />
        </svg>
    </div>
</div>