<div id="start-grid">
    <div id="logo">
        <img src="https://raw.githubusercontent.com/di-unipi-socc/EdgeUsher/master/img/edgeusherlogo.png" alt="EdgeUsher" width="180">
    </div>
    <br>
    <hr id="line">
    <br>
    <p id="description">
        A tool for the placing of the <br>
        Virtual Network Functions <br>
        with a probabilistic algorithm<br><br>
    </p>
    <div id ="buttons">
        <button id="start-chain-button" routerLink="/chain">Create a chain</button>
        <br>
        <button id="start-infrastructure-button" routerLink="/infrastructure">Create an infrastructure</button>
    </div>
    <div id="tutorial">
        <svg id="svg-start-elem" xlmns:xhtml="http://www.w3.org/1999/xhtml">
            <defs>
                <linearGradient id="gradient" x1="0%" y1="0%" x2="0" y2="100%">
                    <stop offset="0%" style="stop-color:lightcyan;" />
                    <stop offset="100%" style="stop-color:#3366FF;" />
                </linearGradient>
            </defs>
            <path
            d="M70 370 L 300 120"
            stroke-dasharray="5,5"
            stroke="red" 
            fill="none"
            stroke-width="2"
            />
            <circle 
            cx="300" cy="120" r="80"
            stroke="#1520A6"
            stroke-width="3"
            fill="url(#gradient)"
            />
            <image 
            x="0"
            y="300"
            height="140"
            width="140"
            href="../../icons/network/building.svg"/>
        </svg>
    </div>
</div>